#header{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(156, 154, 154);
    text-align: center;
    margin-top: 50px;
}
.contact-container{
    display: flex;
    justify-content: center;
}
#contact-list{
    list-style: none;
    margin-bottom: 20px;
    width: 35%;
    padding: 0;
}
#list-data{
    background-color: rgb(158, 158, 233);
    color: white;
    padding: 5px;
    margin-bottom: 2px;
}
#list-data:hover{
   background-color: rgb(100, 94, 94);
   cursor: pointer;
}
#list-data span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.contact-add-form{
    text-align: center;
}
#delete-button{
    margin-left: 20px ;
}
#but:hover{
    color: white;
    background-color: rgb(192, 61, 61);
    cursor: pointer;
}
#contact-phone{
    float: right;
}